.accounts-table {
    width: 90%;
    /* center this */
    margin: 0 auto;
}

.accounts-table-header {
    border-bottom: 2px solid black;
    /* align text to the center */
    text-align: left;
}

.title {
    text-align: center;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

