.accounts-table {
    margin-left: auto;
    margin-right: auto;
}

.accounts-table-header {
    border-bottom: 2px solid black;
}

.title {
    text-align: center;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}